doctype html
html
  head
    title Request Header Parser | Shahid Kamal
    |     
    meta(name='description', content='A request parser which can output info about your browser based on your request header.')
    |     
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@sh4hidkh4n')
    meta(name='twitter:title', content='Request Header Parser')
    meta(name='twitter:description', content='A request parser which can output info about your browser based on your request header.')
    link(type='text/css', rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css')
  body
    .container
      h1.center Your requests provide these informations
      table.bordered
        thead
          th Key
          th Value
        each value, index in parsedHeader
          tr
            td
              b=index.toUpperCase()
            td=value
      h3 Json Response
      h4
        a(href='https://parse-my-request.glitch.me/json') /json                
